name: Test
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: arc-scale-set
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # region pnpm

      # from: https://github.com/pnpm/action-setup
      - name: Install pnpm
        id: pnpm-install
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # endregion

      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Lint
        shell: bash
        run: |
          pnpm run lint

      - name: Build
        shell: bash
        run: |
          pnpm run build

      - name: Test
        shell: bash
        run: |
          xvfb-run pnpm run test
